<div class="card" style="width: 18rem;">
  <div class="card-body">
    <%= render @post %>
    <%= link_to "Edit this posts", edit_post_path(@post),class:"card-link" %> |
    <%= link_to "Back to posts", posts_path,class:"card-link" %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  </div>
</div>